#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;

}
.app-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-bar {
    display: block;
    text-align: end;
}