*

!modules/libraries/functions/src
!modules/libraries/functions/package.json

!modules/libraries/state-manager/src
!modules/libraries/state-manager/package.json

!modules/domain/src
!modules/domain/features
!modules/domain/package.json

!modules/frontend/src
!modules/frontend/public
!modules/frontend/index.html
!modules/frontend/package.json
!modules/frontend/vite.config.js
!modules/frontend/eslint.config.js

!modules/backend/src
!modules/backend/package.json

!modules/backend/test
!modules/backend/vitest.config.js
!modules/backend/.env.test
!modules/backend/database/initdb/create-schema.sql

!package.json
!.prettierignore
!pnpm-lock.yaml
!pnpm-workspace.yaml
!build.json