*

!packages/domain/src
!packages/domain/features
!packages/domain/package.json
!packages/domain/pnpm-lock.yaml

!packages/frontend/src
!packages/frontend/public
!packages/frontend/index.html
!packages/frontend/package.json
!packages/frontend/pnpm-lock.yaml
!packages/frontend/vite.config.js
!packages/frontend/eslint.config.js

!packages/backend/src
!packages/backend/package.json
!packages/backend/pnpm-lock.yaml

!package.json
!.prettierignore
!pnpm-lock.yaml
!pnpm-workspace.yaml