:root {
  /* Branding */
  --primary-color: #b88600; /* Gold */
  --secondary-color: #3a3d41; /* Grey */

  /* Contextual */
  --background-color: #121212;
  --text-color: #e0e0e0;

  --popover-background-color: #3a3d41;
  --popover-text-color: #ffffff;

  --reverse-text-color: #121212;
  --reverse-background-color: #eeeeee;

  --button-background: #3a3d41;

  /* Semantic */
  --hightlighed-background: #ffffff;
  --disabled-text-color: #9a9a9a;
  --disabled-background: #505357;
  --subtle-border: rgba(255, 255, 255, 0.13);
  --subtle-highlighted-background: rgba(255, 255, 255, 0.05);

  --bs-primary: var(--primary-color) !important;
  --bs-secondary: var(--secondary-color) !important;
}
