:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #e0e0e0;
    --secondary-color: #3a3d41;
    --accent-color: #b8860b;
    --button-background: #3a3d41;
    --button-hover-background: #505357;
    --disabled-text-color: #9a9a9a;
    --disabled-background: #505357;
}