
.h-100 {
  height: 100dvh; /* Override for modern browsers */
}

.stack-layout {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack-layout > * {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stack-layout > .stack-layout-tallest-child {
  position: static;
}
