.flex-grow {
  flex-grow: 1;
  align-self: stretch;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breathing-space {
  gap: 1em;
}

.justify-end {
  justify-content: flex-end;
}

.stack-layout {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack-layout > * {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stack-layout > .stack-layout-tallest-child {
  position: static;
}
