.flex-grow {
  flex-grow: 1;
  align-self: stretch;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

.stack-layout {
  position: relative;
  width: 100%;
}

.stack-layout > * {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stack-layout > .stack-layout-tallest-child {
  position: static;
}
