
h1 {
    color: var(--primary-color);
    font-weight: lighter; /* Adjusted font-weight */
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 1em;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.subtle{
    opacity: 0.8;
    font-size: 0.7em;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    color: var(--accent-color);
}

.bigger{
    font-size: 1.5em;
}

.smaller{
    font-size: 0.75em;
}
.time-display{
    display: flex;
    font-family: var(--monospace-font), monospace;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}