.install-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--reverse-background-color);
  color: var(--reverse-text-color);
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.install-button {
  padding: 8px 16px;
  background-color: var(--button-background);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.install-button:hover {
  background-color: #000000;
}

.close-button {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--hightlighed-background);
  color: #000;
  border: 1px solid #000;
  font-size: 16px;
  cursor: pointer;
  width: 2em;
  border-radius: 50%;
}

.close-button:hover {
  color: #ccc;
}
