.new-meditation-settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.new-meditation-setting {
  font-size: 1.2em;
  padding: 1em;
  border-bottom: 1px var(--primary-color) solid;
}
.new-meditation-setting > label {
  display: flex;
  padding-bottom: 0.5em;
}

.new-meditation-setting > .new-meditation-setting-control {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5em;
}
