.mt-time-display {
  display: inline-flex;
  font-family: var(--bs-font-monospace), monospace;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  letter-spacing: -0.15em;
  opacity: 0.9;
}
