.timer-interaction-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 4em;
}

.stack-layout{
    position: relative;
}
.stack-layout>*{
    position: absolute;
}