.mt-full-width-image-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  position: relative;
}
.mt-full-width-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
