:root {
  --public-background-color: #121212;
  --public-text-color: #e0e0e0;
  --public-accent-color: #ffffff;
}

:root {
  --public-primary-font: "Inter", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}
body {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--public-background-color);
  font-family: var(--public-primary-font), sans-serif;
  color: var(--public-text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: var(--public-accent-color);
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1em;
}
h2 {
  color: var(--public-accent-color);
  font-weight: lighter; /* Adjusted font-weight */
}
a {
  color: var(--public-accent-color);
  cursor: pointer;
}
.last-updated {
  font-style: italic;
}
